<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        
        
      </head>

<body>


    <header class="bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/products/add">Agregar</a></li>
                      <li><a class="dropdown-item" href="#">Productos</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Banner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/admin/banner/add">Agregar imágenes</a></li>
                      <li><a class="dropdown-item" href="/admin/banner/all">Imágenes</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              
              </div>
            </div>
          </nav>
    </header> 
    

    <main class="container">
        <div class="card my-3">
            <div class="table-responsive">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-md-4">
                    <form action="">
                        <select class="form-select" name="" id="">
                            <option value="" selected hidden>Filtrar</option>
                        </select>
                    </form>
                </div>
                <div class="col-12 col-md-4">
                    <form action="">
                        <select class="form-select" name="" id="">
                            <option value="" selected hidden>Ordenar</option>
                        </select>
                    </form>
                </div>


                <div class="col-12 col-md-4">
                    <form class="d-flex">
                        <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Buscar</button>
                      </form>
                </div>

                
            </div>
           
        </div>
        <div class="card-body">
            <table class="table table-hover  ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <% productos.forEach((producto,index) => { %>
                        <tr>
                            <th scope="row"><%= index + 1 %> </th>
                            <td><%= producto.name %> </td>
                            <td><%= producto.price %> </td>
                            <td><%= producto.category.name %> </td>
                            <td class="d-flex justify-content-around">
                              <a class="btn btn-sm btn-info"
                              href="/products/detail/<%= producto.id %>"><i class="fas fa-edit"></i>
                            </a>
                                <a class="btn btn-sm btn-success"
                                href="/products/edit/<%= producto.id %> "><i class="fas fa-edit"></i>
                              </a>
                            <div>

                                <form action="/products/delete/<%= producto.id %>?_method=DELETE"  method="POST" onclick="return confirm('seguro que desea eliminar')">
                                    <button class="btn btn-sm btn-danger"
                                        type='submit'><i class="fas fa-trash-alt"></i></button>
                                </form>

                            </div>
                            </td>
                          </tr>
                    <% }) %>
                 
                </tbody>
              </table>
        </div>
        
        </div>
    </div>

    </main>
    
    <script src="/javascripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="/javascripts/glider.js"></script>
    <script src="/javascripts/validatorForms.js"></script>

</body>
</html>